


<h2>Courses</h2>

<% if !@user.courses.empty? %>
	<%= link_to 'Check all courses for updates', update_courses_link_path(@user.id) %>
	<%= render @user.courses %>
<% else %>
	No Courses Added! To Add a course, enter its information below.
<% end %>
<h2>Add a new course:</h2>
<%= render 'courses/form' %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
