

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Pass:</b>
  <%= @user.pass %>
</p>

<h2>Courses</h2>
<%= link_to 'Update Courses', update_courses_link_path(@user.id) %>
<%= render @user.courses %>

<h2>Add a new course:</h2>
<%= render 'courses/form' %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
